<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inflames1986.janweatherkotlin">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_settings"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JanWeatherKotlin">
        <activity
            android:name=".Lesson5.MainActivityWebView"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.DetailsService"/>
        <receiver
            android:name=".broadcastreceivers.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CONNECTIVITY_ACTION" />
                <action android:name="myaction" />
            </intent-filter>
        </receiver>
    </application>

</manifest>